pandas
numpy
telegram-send
tqdm
fastparquet
plotly
openpyxl
xlrd
kaleido==0.1.*
pillow
statsmodels
python-dotenv
tabulate
matplotlib
seaborn
multiprocess
requests
ipykernel
localprojections
scikit-learn
pypdf
reportlab